/*////////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                        StyleSheet                                          |
|                                     By Alex Burbano                                        |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/




/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                         Body                                               |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/

body
{
 margin:0px auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: 'Open Sans',"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:rgb(169, 208, 245,.05);
}


/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                       Header                                               |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/

#header
{
 color:white;
 width:100%;
 margin:0px auto;
 padding:0px;
 text-align:center;
 height:70px;
 line-height:70px;
 background:rgba(16, 3, 136, 0);
 position: fixed;
 font-family: 'Open Sans' ;
}
#header li
{

    color:white;
    display:inline-block;
    margin-right:25px;
    font-size:17px;
    font: weight 1;;
    cursor:pointer;
}
#header #site_name
{

    text-align:left;
    width:680px;
    font-size:35px;
    margin-left:20px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                          Home                                              |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
#home{
    
    width:100%;
    height:550px;
    padding:50px;
    box-sizing:border-box;
    background-color:rgb(0, 238, 255);
    font-family: 'Open Sans';
    background: linear-gradient(rgba(36, 0, 119, 0.534), rgba(0, 0, 0, 0.75)),  url("../images/background.jpg");
   }

#home h1
    {

    font-weight: bolder;
    color:white;

    margin-top: -150px;
    font-size:55px;
    }
#home p
    {
    color:white;
    margin-top: 50px;
    
    
    font-size:30px;
    }


/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                        Skills                                              |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
#skills
    {
       
    width:100%;
    height:400px;
    padding:50px;
    box-sizing:border-box;
    background: linear-gradient(rgba(13, 0, 43, 0.534), rgba(0, 0, 0, 0.75)),  url("../images/background2.jpg");
    background-position: center;
    color:white;
    }
#skills h1
    {
    font-size:60px;
    }
#skills li
    { 
         font-family: 'Open Sans';
    color:white;
    text-align:left;
    font-size:30px;
    font-weight: normal;
    line-height: 50px;
    
    }

.ListLeft
{
    align-items: left;
    margin-left: 100px;
    

}
.ListRight
{
    align-items: left;
    margin-left:700px;
    margin-top:-110px;

}
/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                        Portfolio                                           |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
#portfolio
    {
    
    width:100%;
    height:400px;
    padding:50px;
    box-sizing:border-box;
    background-color:rgb(55, 0, 255);
    /*background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),  url("../images/background3.jpg");*/
    background-position: center;
    color:white;
    }
#portfolio p
    {
    font-size:20px;
    }
/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                      Experience                                            |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
#experience
    {
    
    width:100%;
    height:400px;
    padding:50px;
    box-sizing:border-box;
    background-color:#084B8A;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),  url("../images/background3.jpg");
    background-position: center;
    color:white;
    }
#experience p
    {
    font-size:20px;
    }

/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                     Contact                                                |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
#contact
    {
    width:100%;
    height:300px;
    padding:25px;
    box-sizing:border-box;
    background-color:#084B8A;
    color:white;
    }
#contact input[type="text"]
    {
    width:250px;
    height:35px;
    padding-left:10px;
    float:left;
    margin-left:80px;
    border:none;
    }
#contact textarea
    {
    float:left;
    width:250px;
    height:35px;
    margin-left:20px;
    border:none;
    padding-left:10px;
    padding-top:10px;
    }
#contact input[type="submit"]
    {
    float:left;
    margin-left:20px;
    height:35px;
    width:100px;
    background:none;
    color:white;
    border:1px solid white;
    }
/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                          Images                                            |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
.myimg{
    margin-top: 50px;
    border:5px solid rgb(47, 0, 255);
    margin-left: 600px;
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
  }
/* ///////////////////////////////////////////////////////////////////////////////////////////
|                                                                                            |
|                                                                                            |
|                                                                                            |
////////////////////////////////////////////////////////////////////////////////////////////*/
